<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    	<title><%= htmlWebpackPlugin.options.title%></title>

    	<div><%= htmlWebpackPlugin.options.header%></div>

    	<div id="title"></div>
    	<button id="btnCommonJsCounter" class="btn-blue">CommonJS Counter</button>
    	<button id="btnAMD" class="btn-blue">ADM MOdule</button>

    	<button id="btnES6Counter">ES6 Counter</button>
    	<button id="btnChangeBackground">Change backgroud</button>
    	<button id="btnEnv">Check Environment</button>
    	<button id="btnLoadImage">Load Image</button>
    	<div id="content"></div>

    </body>
</html>
